VITE_BASE_API_URL=https://api-dev.distilled.ai/distill
VITE_SOCKET_URL=wss://api-dev.distilled.ai
VITE_SOLANA_RPC=https://solana-rpc.publicnode.com
VITE_SOLANA_WS=wss://solana-rpc.publicnode.com
VITE_GROUP_ID_MAX=98
VITE_GROUP_DEFAULT_FOR_PRIVATE_AGENT=396

VITE_AGENTLAND_BACKEND_URL=https://backend-release.agents.land
VITE_MEME_BACKEND_URL=https://backend-meme.agents.land
VITE_STAKING_AIRDROP_BACKEND_URL=https://airdrop-be-stag.agents.land

VITE_PINATA_API_KEY=
VITE_PINATA_SECRET_API_KEY=
VITE_APP_SOLANA_ENV=devnet