.styleReset *,
.styleReset ::after,
.styleReset ::before {
  margin: revert;
  padding: revert;
  list-style: revert;
  font-family: "Barlow", sans-serif;
}

.styleReset h1,
.styleReset h2,
.styleReset h3,
.styleReset h4,
.styleReset h5,
.styleReset h6,
.styleReset p {
  font-size: revert;
  font-weight: revert;
}
